@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

body {
  background-color: #304068;
}

h1 {
  color: #383727;
  font-family: 'Roboto';
  font-size: 20px;
}

p {
  color: #210215;
  font-size: 17px;
  font-family: 'Roboto';
}

.container {
  width: 700px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 100%;
  }
}

.screen {
  background-image: url(images/nokia.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 482px;
  height: 747px;
  padding: 20px;
  margin: 20px 0px;
  text-align: center;
  position: relative;
}

.text {
  background-color: #878869;
  width: 186px;
  height: 150px;
  border-radius: 5px;
  position: absolute;
  top: 199px;
  left: 174px;
}

.card {
  background-color: #304068;
  padding: 20px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

.list-inline > li {
  display: inline-block;
  font-size: 40px;
  color: #F7F9FC;
  padding: 0px 15px;
}
